<div class="max-w-7xl mx-auto p-6">
  <!-- Search Form -->
  <div class="mb-6">
    <form action="<%= products_path %>" method="get" class="flex items-center space-x-4">
      <input
        type="text"
        name="query"
        placeholder="Search subscriptions..."
        value="<%= params[:query] %>"
        class="border-gray-300 rounded-lg p-2 w-full"
      >
      <button type="submit" class="bg-black text-white px-4 py-2 rounded-lg hover:bg-gray-800">
        Search
      </button>
    </form>
  </div>

  <!-- Tag Filter Section -->
  <div class="mb-6">
    <h3 class="text-lg font-semibold">Filter by Tag:</h3>
    <div class="flex space-x-4 mt-2 overflow-x-auto no-scrollbar whitespace-nowrap">
      <a href="<%= products_path %>" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium <%= @present_tag == nil ? 'bg-gray-400 text-white' : 'bg-gray-200 text-gray-800' %> hover:bg-gray-300">
        None
      </a>
      <% @available_tags.each do |tag| %>
        <a href="<%= products_path(tag: tag) %>" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium <%= tag == @present_tag ? 'bg-gray-400 text-white' : 'bg-gray-200 text-gray-800' %> hover:bg-gray-300">
          <%= tag %>
        </a>
      <% end %>
    </div>
  </div>

  <!-- Subscription List -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% if @products.any? %>
      <% @products.each do |product| %>
        <a href="<%= product_path(product.id) %>" class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 block">
          <img class="float-right h-28 w-28 rounded-lg object-cover" src="<%= product.image_url %>" alt="<%= product.name %>">
          <div>
            <h3 class="text-xl font-semibold text-gray-800"><%= product.name %></h3>
            <p class="text-lg text-gray-600"><%= sprintf("%.2f", product.price) %> zł</p>
            <p class="text-gray-500 mt-2">Tag: <%= product.tag %></p>
          </div>
        </a>
      <% end %>
    <% else %>
      <p class="text-gray-600">No products found.</p>
    <% end %>
  </div>
</div>
